.container {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 2fr 2fr 2fr;
    grid-template-areas: "hd hd"
        "cnt sdb"
        "cnt sdb"
        "ftr ftr";
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
}

.head {
    grid-area: hd;
    text-align: center;
    background-color: rgb(163, 150, 150);
}

.content {
    grid-area: cnt;
    text-align: center;
    background-color: rgb(224, 224, 185);
}

.article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-area: 3/1/4/2;
}

.more_1,
.more_2,
.more_3 {
    margin: 15px;
    text-align: center;
    background-color: rgb(221, 192, 113);
}

.more_1 {
    grid-area: 3/1/4/2;
}

.more_2 {
    grid-area: 3/2/4/3;
}

.more_3 {
    grid-area: 4/1/5/3;
}

.sidebar {
    grid-area: sdb;
    text-align: center;
    background-color: rgb(181, 221, 166);
}

.footer {
    grid-area: ftr;
    background-color: rgb(133, 122, 122);
}

.footer_section {
    display: grid;
    grid-area: cfs;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.fs_1,
.fs_2,
.fs_3,
.fs_4 {
    margin: 20px;
    text-align: center;
    background-color: rgb(209, 192, 192);
}

.fs_1 {
    grid-area: 1/1/2/2;
}