.container {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 3fr 3fr 2fr;
    grid-template-areas: "hd hd"
        "cnt sdb"
        "cnt sdb"
        "ftr ftr";
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.head {
    grid-area: hd;
    text-align: center;
    background-color: rgb(163, 150, 150);
}

.content {
    grid-area: cnt;
    text-align: center;
    background-color: rgb(224, 224, 185);
}

.article {
    grid-area: 3/1/4/2;
    display: grid;
    margin-top: 15%;
    margin-bottom: 5%;
}

.more_1,
.more_2,
.more_3 {
    margin: 15px;
    text-align: center;
    background-color: rgb(221, 192, 113);
}

.more_1 {
    grid-area: 1/1/2/2;
}

.more_2 {
    grid-area: 1/2/2/3;
}

.more_3 {
    grid-area: 2/1/3/3;
}

.sidebar {
    grid-area: sdb;
    text-align: center;
    background-color: rgb(181, 221, 166);
}

.footer {
    grid-area: ftr;
    background-color: rgb(133, 122, 122);
}

.footer_section {
    display: grid;
    grid-area: cfs;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.fs_1,
.fs_2,
.fs_3,
.fs_4 {
    text-align: center;
    background-color: rgb(209, 192, 192);
    margin: 20px;
}

.fs_1 {
    grid-area: 1/1/2/2;
}